@tailwind base;
@tailwind components;
@tailwind utilities;



@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}



.rainbow-text{
	position: relative;
	color: #000;
	background: #fff;
	mix-blend-mode: multiply;
  overflow: hidden;
  
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 2px 4px 6px;
  margin: -2px -4px -6px;
}
.rainbow-text::before{
	content: "";
	position: absolute;
	top:0;right:0;bottom:0;left:-100%;
	background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);
	mix-blend-mode: screen;
	pointer-events: none;
  animation: move 1s linear infinite;
}

@keyframes move{
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}

@supports not (mix-blend-mode: multiply) {
	.rainbow-text{
	-webkit-text-fill-color: transparent;
	background-clip: text !important;
	background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
    text-shadow: none;
	}
	.rainbow-text::before{ content: none; }
}



.colorR{
	
	
	 animation: Color 4s linear infinite;
	-webkit-animation: Color 4s ease-in-out infinite;
	
  }
  
  @keyframes Color{
	0%{
	  color:#84ff00;
	}
	
	20%{
	  color:#00bbff;
	}
	
	40%{
	  color:#feb600;
	}
	
	60%{
	  color:#f700ff;
	}
	
	80%{
	  color:#1100ff;
	}
	
	100%{
	  color:#00fff7;
	}
  }
  
  @-moz-keyframes Color{
	0%{
	  color:#A0D468;
	}
	
	20%{
	  color:#4FC1E9;
	}
	
	40%{
	  color:#FFCE54;
	}
	
	60%{
	  color:#FC6E51;
	}
	
	80%{
	  color:#ED5565;
	}
	
	100%{
	  color:#AC92EC;
	}
  }
  
  @-webkit-keyframes Color{
	0%{
	  color:#A0D468;
	}
	
	20%{
	  color:#4FC1E9;
	}
	
	40%{
	  color:#FFCE54;
	}
	
	60%{
	  color:#FC6E51;
	}
	
	80%{
	  color:#ED5565;
	}
	
	100%{
	  color:#AC92EC;
	}
  }
  







  .blink-soft {
	animation: blinker 0.5s linear infinite;
  }
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }